* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  padding: 24px;
  z-index: 100;
  position: fixed;
  background-color: rgb(12, 18, 40);
}
header .menu {
  display: none;
  width: 40px;
  position: relative;
  right: 0%;
}
@media (max-width: 1073px) {
  header .menu {
    display: flex;
    width: 30px;
    height: 25px;
    align-items: center;
    cursor: pointer;
  }
  header .menu span {
    width: 100%;
    background-color: white;
    height: 4px;
    border-radius: 20px;
  }
  header .menu span:first-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  header .menu span:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  header .menu.active span {
    width: 0%;
  }
  header .menu.active span:first-child {
    width: 100%;
    transform: rotate(45deg) translate(10px, 10px);
  }
  header .menu.active span:last-child {
    width: 100%;
    transform: rotate(-45deg) translate(10px, -7px);
  }
}
header .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}
header .logo h3 {
  font-size: 30px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: white;
}
header .logo h3 span {
  color: #f5a425;
}
header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 1073px) {
  header .links {
    display: none;
  }
}
header .links li a {
  color: white;
  padding: 10px 20px;
  margin: 0px 6px;
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 800;
}
header .links li a.active {
  border: 2px solid #f5a425;
}
header .links li a:hover {
  border: 2px solid #ffc362;
  transition: 0.3s all ease-in-out;
}