* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

#scroll {
  width: 0px;
  height: 3px;
  background-color: #f5a425;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

